---
# Conflicts with iptables-nft which is required by incus
- name: Remove iptables
  community.general.pacman:
    name: iptables
    state: absent
    force: yes
  become: yes
  # TODO: do the equiviant of this for Gentoo
  when: ansible_facts["os_family"] == 'Archlinux'

- name: Install incus
  ansible.builtin.package:
    name: incus
    state: present
  become: yes

- name: Add users to incus-admin group
  ansible.builtin.user:
    name: "{{ ansible_facts['user_id'] }}"
    groups:
      - incus-admin
    append: yes
  loop: "{{ [ansible_facts['user_id']] | union(incus_extra_users) }}"
  become: yes

- name: Reload user groups
  ansible.builtin.meta: reset_connection

- name: Start incus service on most systems
  ansible.builtin.service:
    name: incus
    state: started
    enabled: yes
  become: yes
  when: ansible_facts.service_mgr != "s6-svscan"

# TODO: test on other s6 systems
# TODO: install the s6 service files too
- name: Start incus service on s6 systems
  when: ansible_facts.service_mgr == "s6-svscan"
  block:
    - name: Enable incus service on s6-svscan
      file:
        path: /etc/s6/adminsv/default/contents.d/incus
        state: touch
      become: yes

    - name: Refresh s6 db for incus service on s6-svscan
      command: s6-db-reload
      become: yes

    - name: Start incus service on s6-svscan
      command: s6-rc -u change incus
      become: yes

- name: Get old incus config
  ansible.builtin.command:
    cmd: incus admin init --dump
  register: incus_old_config
  changed_when: false

- name: Update incus config
  ansible.builtin.shell:
    cmd: incus admin init --preseed && incus admin init --dump
    stdin: "{{ incus_config | to_yaml }}"
  register: incus_new_config
  changed_when: incus_old_config.stdout != incus_new_config.stdout
  notify: restart_incus

- name: Define subuid/subgid files
  ansible.builtin.template:
    src: subid.j2
    dest: "/etc/{{ item }}"
    mode: 0644
  loop:
    - subuid
    - subgid
  become: yes
  notify: restart_incus

- name: Set lxc default config
  ansible.builtin.template:
    src: lxc.conf.j2
    dest: /etc/lxc/default.conf
    mode: 0644
  become: yes
  notify: restart_incus
